# ---- Maven ----
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# ---- Java ----
*.class
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*

# ---- Spring Boot ----
application-local.yaml
application-local.properties

# ---- IDE: IntelliJ IDEA ----
.idea/
*.iws
*.iml
*.ipr
out/

# ---- IDE: Eclipse / STS ----
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/
bin/

# ---- IDE: VS Code ----
.vscode/

# ---- IDE: NetBeans ----
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# ---- OS ----
.DS_Store
Thumbs.db
*.swp
*~
